{{#if {{SUBPROJECT_SINGULAR}}.id}}
	{{#with {{SUBPROJECT_SINGULAR}}}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Edit {{SUBPROJECT_SINGULAR}}</h3>
			</div>
			<div class="panel-body">
				<form method="POST" action="/{{SUBPROJECT_PLURAL}}/{{id}}">
					<input type="hidden" name="_method" value="PATCH">

					<!--<div class="form-group">
						<label for="map_name">Name:</label>
						<input id="map_name" class="form-control" type="text" name="name" value="{{name}}"/>
					</div>-->

					<button type="submit" class="btn btn-primary">Edit</button>
				</form>
				<form method="POST" action="/{{SUBPROJECT_PLURAL}}/{{id}}">
					<input type="hidden" value="DELETE" name="_method">
					<button type="submid" class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
	{{/with}}
{{else}}
	{{{render "{{PROJECT_NAME}}" "add"}}}
{{/if}}