{{#each invalid_fields}}
	{{@key}} : {{this}}<br />
{{/each}}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Add {{SUBPROJECT_PLURAL}}</h3>
	</div>
	<div class="panel-body">
		<form method="POST" action="/{{SUBPROJECT_PLURAL}}">
			<!--<div class="form-group">
				<label for="map_name">Name:</label>
				<input id="map_name" class="form-control" type="text" name="name" value="{{name}}"/>
			</div>-->
			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>
</div>