{{#user}}
	Welcome 
	{{#if name}}
		{{name}}
	{{else}}
		User {{id}}
	{{/if}}
	<form method="POST" action="/me">
		<input type="hidden" value="DELETE" name="_method">
		<input type="submit" value="Log Out" />
	</form>
{{/user}}
{{^user}}
	{{#if password_fail}}
		<span class="error"> You have entered an invalid password
	{{/if}}
	<form method="POST" action="/me">
		email: <input type="text" name="email" /> <br />
		pass: <input type="text" name="password" />
		<input type="submit" value="Log In" />
	</form>
{{/user}}