<html>
<head>
<script type="text/javascript" src="/gfw/core.js"></script>
<script type="text/javascript" src="/gfw/sizzle.js"></script>
</head>
<body>
	<div id="template"></div>
	<form id="post_example" method="POST"
		action="/example/template/test_client.html">
		<input id="template_data" type="text" name="template_data" /> <input
			type="submit" value="submit" />
	</form>

	<script type="text/javascript">
		GFW.getResource('example').template('test_client.html', {
			success : function (template) {
				console.log("stuff");
				var t = GFW.e('#template');
				t.innerHTML += template.html;

				GFW.e('.changeme', t).forEach(function (element) {
					element.innerHTML = 2;
				});
			},
			error : function (error) {
				console.log(error);
			}
		});

		GFW.e('#post_example').on('submit', function (event) {
			console.log(GFW.e('#template_data'));
			console.log(GFW.e('#template_data').value);

			GFW.Http.post(this.action, {
				params : {
					template_data : GFW.e('#template_data').value
				},
				success : function (data) {
					console.log(data);
				},
				error : function (error) {
					console.log(error);
				}
			});

			event.preventDefault();
			//return false;
		});
	</script>
</body>
</html>