<div class="main">
	<h1>Roads.js Example Blog</h1>
	<div class="post">
		<span class="byline">by <a href="/users/1">Aaron</a></span>
		<span class="content"> blahblahblah </span>
	</div>
	<div class="post">
		<span class="byline">by <a href="/users/1">Aaron</a></span>
		<span class="content"> blahblahblah </span>
	</div>
	<div class="post">
		<span class="byline">by <a href="/users/1">Aaron</a></span>
		<span class="content"> blahblahblah </span>
	</div>
</div>
<div class="sidebar">
	{{{login}}}
</div>