{
	"enabled" : true,
	"cookie" : {
		"domain" : "127.0.0.1"
	},
	"projects" : {
		"/posts" : "example/blog",
		"/users" : "official/users",
		"/" : "example/example"
	},
	"templates" : {
		"500" : "server/500",
		"404" : "server/404"
	}
}