{
	"enabled" : true,
	"cookie" : {
		"domain" : "127.0.0.1"
	},
	"projects" : {
		"/blog" : "example/blog",
		"/user" : "official/user",
		"/" : "example/example"
	},
	"templates" : {
		"500" : "server/500.html",
		"404" : "server/404.html"
	}
}