{{#if user.id}}
	{{#with user}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Edit user</h3>
			</div>
			<div class="panel-body">
				<form method="POST" action="/users/{{id}}">
					<input type="hidden" name="_method" value="PATCH">

					<div class="form-group">
						<label for="user_name">Name:</label>
						<input id="user_name" class="form-control" type="text" name="name" value="{{name}}"/>
					</div>

					<div class="form-group">
						<label for="user_email">Email:</label>
						<input id="user_email" class="form-control" type="text" name="email" value="{{email}}"/>
					</div>

					<div class="form-group">
						<label for="user_email">Permissions:</label><br />
						{{#each ../permissions}}
							{{{checkbox "permissions" @key ../../user_permissions}}}<br />
						{{/each}}
					</div>

					<button type="submit" class="btn btn-primary">Edit</button>
				</form>
				<form method="POST" action="/users/{{id}}">
					<input type="hidden" value="DELETE" name="_method">
					<button type="submid" class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
	{{/with}}
{{else}}
	{{{render "official/users" "add"}}}
{{/if}}